.sidebar {
  width: 17rem;
  height: 100%;
  background-color: #fff;
  padding: 1rem;
  transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  &[data-collapse=true] {
    width: 5rem;

    .sidebar__name,
    .sidebar__logo_name
     {
      display: none;
    }
  }
}

.sidebar__top{
  width: max-content;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #e5e7eb;
}

.sidebar__logo {
  width: 3.4rem;
  height: 3.5rem;
  object-fit: fill;
  border-radius: 1rem;
}

.sidebar__list {
  list-style: none;  
}

.sidebar__link {
  display: inline-block;
  font-size: 1rem;
  text-decoration: none;
  color: #000;
  padding: 0.8rem 1rem;
  display: flex;
  background-color: #f3f4f6;
  margin-bottom: 1rem;
  border-radius: .8rem;
  cursor: pointer;
}

.sidebar__icon {
  font-size: 1.2rem;
  display: inline-block;
}

.sidebar__name {
  margin-left: 0.5rem;
}

.sidebar__logo_name{
  font-weight: 600;
  font-size: 1.2rem;
}

.btn {
  position: absolute;
  right: 0;
  top: 6.3rem;
  background-color: #fff;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #e5e7eb;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: translateX(50%);
  font-size: 1.1rem;
}

.sidebar_wrapper {
  position: relative; 
}

