.closeModal {
    position: fixed;
    top: 0;
    right: 0;
    margin: 10px 10px 0 0;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    width: 75%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--dark-900);
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.2);
    z-index: 100;
    border-radius: 10px;
    padding: 1rem;
    max-height: 500px;
    overflow-y: auto;
}

.modal-content {
    padding: 20px;
}