.container {
  max-width: 720px;
  margin: 4rem auto;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;

  h1 {
    color: var(--white);
  }
}

.containerHeader {
  display: flex;
  flex-direction: row;

  button {
    background-color: transparent;
    border: 0;
    margin-left: 1rem;
  }
}

.listOrders {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.emptyList {
  font-size: 1.2rem;
  color: var(--gray-100);
}
